html {
  background: #E5E5E5;
}

body {
  margin: 0 auto;
  width: 1440px;
  height: 5030px;
  background: #FFF;
}

header {
  position: relative;
}
header .logo {
  position: absolute;
  top: 60px;
  left: 162px;
  width: 258px;
  height: 53px;
}
header .collection {
  position: absolute;
  width: 433px;
  height: 71px;
  left: 162px;
  top: 439px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #272727;
}
header .collection .line {
  position: absolute;
  width: 130px;
  height: 0;
  top: 135px;
  left: 120px;
  border: 1px solid #272727;
}
header .see {
  position: absolute;
  width: 178px;
  height: 24px;
  left: 459px;
  top: 560px;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272727;
}
header .ring {
  position: absolute;
  right: 398px;
  top: 400px;
  z-index: 1;
}
header .ring img {
  width: 322px;
  height: 170px;
}
header .cash {
  text-align: right;
}
header .cash h3 {
  position: absolute;
  width: 225px;
  height: 21px;
  right: 162px;
  top: 878px;
  z-index: 1;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .cash p:nth-child(2) {
  position: absolute;
  width: 205px;
  height: 23px;
  right: 162px;
  top: 908px;
  z-index: 1;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #C2C2C2;
}
header .cash p:nth-child(3) {
  position: absolute;
  width: 85px;
  height: 24px;
  right: 162px;
  top: 940px;
  z-index: 1;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #EFC58B;
}
header .menu div #first {
  position: absolute;
  width: 22px;
  height: 19px;
  left: 1018px;
  top: 77px;
  z-index: 1;
  color: white;
  font-size: 25px;
}
header .menu div #second {
  position: absolute;
  width: 13px;
  height: 20px;
  left: 1080px;
  top: 77px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 25px;
}
header .menu div #thirty {
  position: absolute;
  width: 15px;
  height: 20px;
  left: 1133px;
  top: 77px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 25px;
}
header .menu div #thirty ion-icon {
  color: #FFFFFF;
}
header .menu div p {
  position: absolute;
  width: 10px;
  height: 23px;
  right: 270px;
  top: 78px;
  z-index: 1;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
header .en p:first-child {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 162px;
  top: 943px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}
header .en p:last-child {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 192px;
  top: 943px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #C4C4C4;
}
header .box {
  position: absolute;
  width: 562px;
  height: 1024px;
  top: 0;
  right: 0;
  background: #272727;
}

main .top__section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1045px;
  width: 1440px;
  height: 587px;
}
main .top__section a {
  position: absolute;
  text-decoration: none;
}
main .top__section a img {
  width: 710px;
  height: 587px;
}
main .top__section a div {
  position: absolute;
  width: 710px;
  height: 587px;
  top: 0;
  left: 0;
  background: rgba(39, 39, 39, 0.4);
}
main .top__section a p {
  position: absolute;
  top: 227px;
  left: 269px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
}
main .top__section a h2 {
  position: absolute;
  top: 258px;
  left: 158px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
main .top__section a .line2 {
  position: absolute;
  width: 130px;
  height: 0;
  left: 290px;
  top: 352px;
  border: 1px solid #FFFFFF;
}
main .top__section a:last-child {
  right: 0;
}
main .section__center__top {
  background: #272727;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1650px;
  width: 1440px;
  height: 604px;
}
main .section__center__top img {
  position: absolute;
  right: 0;
  width: 740px;
  height: 604px;
}
main .section__center__top .pushmap h2 {
  position: absolute;
  top: 171px;
  left: 162px;
  width: 386px;
  height: 106px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
main .section__center__top .pushmap p:nth-child(2) {
  position: absolute;
  top: 293px;
  left: 162px;
  width: 386px;
  height: 46px;
  font-family: Forum;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}
main .section__center__top .pushmap p:nth-child(3) {
  position: absolute;
  width: 110px;
  height: 23px;
  left: 162px;
  top: 399px;
  font-family: Forum;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.4);
}
main .section__center__top .pushmap .line3 {
  position: absolute;
  width: 386px;
  height: 0;
  left: 162px;
  top: 432px;
  border: 1px solid #FFFFFF;
}
main .section__center__top .pushmap a {
  position: absolute;
  font-size: 28px;
  color: #FFFFFF;
  top: 403px;
  left: 520px;
}
main .section__center__top .map .location {
  position: absolute;
  width: 134px;
  height: 43px;
  left: 1018px;
  top: 123px;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: Forum;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}
main .section__center__top .map div a:first-child {
  position: absolute;
  top: 149px;
  left: 795px;
  font-size: 60px;
}
main .section__center__top .map div a:nth-child(2) {
  position: absolute;
  top: 172px;
  left: 968px;
  font-size: 60px;
}
main .section__center__top .map div a:nth-child(3) {
  position: absolute;
  top: 232px;
  left: 1083px;
  font-size: 60px;
}
main .section__center__top .map div a:last-child {
  position: absolute;
  top: 412px;
  left: 976px;
  font-size: 60px;
}
main .section__center__main {
  margin: 0 auto;
  width: 1420px;
  height: 820px;
  position: absolute;
  top: 2275px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 20px 600px 20px 400px;
  grid-template-columns: 400px 600px 400px;
  -ms-grid-rows: 400px 20px 400px;
  grid-template-rows: 400px 400px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
main .section__center__main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
main .section__center__main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
main .section__center__main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
main .section__center__main > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
main .section__center__main > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .section__center__main > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
main .section__center__main a {
  position: relative;
  width: 400px;
  height: 400px;
  background: #EDEDED;
  text-decoration: none;
}
main .section__center__main a img {
  position: absolute;
}
main .section__center__main a h2 {
  position: absolute;
  left: 30px;
  bottom: 85px;
  font-family: Forum;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}
main .section__center__main a p:nth-child(3) {
  position: absolute;
  left: 30px;
  bottom: 53px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}
main .section__center__main a p:nth-child(4) {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #E2B67A;
}
main .section__center__main a:nth-child(1) img {
  left: 70px;
  top: 47px;
}
main .section__center__main a:nth-child(2) img {
  left: 70px;
  top: 60px;
}
main .section__center__main a:nth-child(4) img {
  left: 40px;
  top: -20px;
}
main .section__center__main a:nth-child(5) img {
  left: 130px;
  top: 50px;
}
main .section__center__main a:nth-child(3) {
  width: 600px;
  height: 820px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
main .section__center__main a:nth-child(3) img {
  width: 600px;
  height: 820px;
}
main .section__center__main a:nth-child(3) a {
  width: 600px;
  height: 820px;
}
main .section__center__footer {
  margin: 0 auto;
  position: absolute;
  width: 1440px;
  height: 886px;
  top: 3115px;
  background: #272727;
}
main .section__center__footer h2 {
  position: absolute;
  width: 518px;
  height: 106px;
  left: 162px;
  top: 100px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
main .section__center__footer .photo img {
  width: 385px;
  height: 385px;
}
main .section__center__footer .photo img:first-child {
  position: absolute;
  top: 286px;
  left: 115px;
}
main .section__center__footer .photo img:nth-child(2) {
  position: absolute;
  width: 308px;
  top: 286px;
  left: 526px;
}
main .section__center__footer .photo img:last-child {
  position: absolute;
  top: 286px;
  right: 196px;
}
main .section__center__footer .contact1 {
  position: absolute;
  bottom: 100px;
  left: 162px;
  font-size: 35px;
  color: #FFFFFF;
}
main .section__center__footer .contact2 {
  position: absolute;
  bottom: 100px;
  left: 217px;
  font-size: 35px;
  color: #FFFFFF;
}
main .section__center__footer .list a:first-child {
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  right: 446px;
  bottom: 103px;
}
main .section__center__footer .list a:nth-child(2) {
  font-size: 10px;
  color: black;
  position: absolute;
  right: 388px;
  bottom: 115px;
}
main .section__center__footer .list a:nth-child(3) {
  font-size: 10px;
  color: black;
  position: absolute;
  right: 363px;
  bottom: 115px;
}
main .section__center__footer .list a:nth-child(4) {
  font-size: 15px;
  color: white;
  position: absolute;
  right: 335px;
  bottom: 112px;
}
main .section__center__footer .list a:nth-child(5) {
  font-size: 10px;
  color: black;
  position: absolute;
  right: 313px;
  bottom: 115px;
}
main .section__center__footer .list a:nth-child(6) {
  font-size: 10px;
  color: black;
  position: absolute;
  right: 288px;
  bottom: 115px;
}
main .section__center__footer .list a:nth-child(7) {
  font-size: 10px;
  color: black;
  position: absolute;
  right: 263px;
  bottom: 115px;
}
main .section__center__footer .list a:last-child {
  font-size: 30px;
  color: black;
  position: absolute;
  right: 175px;
  bottom: 103px;
}
main .section__center__contact {
  position: absolute;
  top: 4001px;
  margin: 0 auto;
  width: 1440px;
  height: 710px;
}
main .section__center__contact img {
  position: absolute;
  left: 0;
  width: 710px;
  height: 640px;
}
main .section__center__contact .contact p:first-child {
  position: absolute;
  top: 180px;
  left: 893px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}
main .section__center__contact .contact p:last-child {
  position: absolute;
  top: 233px;
  left: 893px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959595;
}
main .section__center__contact .refurbish h3 {
  position: absolute;
  width: 290px;
  height: 23px;
  left: 893px;
  top: 371px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}
main .section__center__contact .refurbish p {
  position: absolute;
  width: 150px;
  height: 28px;
  left: 893px;
  top: 424px;
  font-family: Forum;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959595;
}
main .section__center__contact .refurbish ion-icon {
  font-size: 28px;
  position: absolute;
  top: 425px;
  left: 1145px;
}
main .section__center__contact .refurbish .line4 {
  position: absolute;
  width: 280px;
  height: 0;
  left: 893px;
  top: 460px;
  border: 1px solid #272727;
}

footer {
  position: absolute;
  top: 4710px;
  margin: 0 auto;
  width: 1440px;
  height: 390px;
  background: #272727;
}
footer .section__footer__top a {
  font-family: Forum;
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .section__footer__top a:first-child {
  position: absolute;
  width: 153px;
  height: 18px;
  left: 162px;
  top: 80px;
}
footer .section__footer__top a:nth-child(2) {
  position: absolute;
  width: 178px;
  height: 18px;
  left: 387px;
  top: 80px;
}
footer .section__footer__top a:nth-child(3) {
  position: absolute;
  width: 141px;
  height: 18px;
  left: 637px;
  top: 80px;
}
footer .section__footer__top a:nth-child(4) {
  position: absolute;
  width: 263px;
  height: 18px;
  left: 850px;
  top: 80px;
}
footer .section__footer__top a:last-child {
  position: absolute;
  width: 94px;
  height: 18px;
  left: 1185px;
  top: 80px;
}
footer .section__footer__main .logo {
  position: absolute;
  width: 257.04px;
  height: 28.35px;
  left: 163px;
  top: 216px;
}
footer .section__footer__main .contact p:first-child {
  position: absolute;
  width: 200px;
  height: 18px;
  left: 734px;
  top: 188px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .section__footer__main .contact p:nth-child(2) {
  position: absolute;
  width: 121px;
  height: 23px;
  left: 734px;
  top: 221px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C2C2C2;
}
footer .section__footer__main .contact a:nth-child(3) {
  position: absolute;
  top: 259px;
  left: 734px;
  font-size: 35px;
  color: #FFFFFF;
}
footer .section__footer__main .contact a:nth-child(4) {
  position: absolute;
  top: 259px;
  left: 789px;
  font-size: 35px;
  color: #FFFFFF;
}
footer .section__footer__main div h3 {
  position: absolute;
  width: 220px;
  height: 18px;
  left: 998px;
  top: 188px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .section__footer__main div p {
  position: absolute;
  width: 120px;
  height: 23px;
  left: 998px;
  top: 221px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C2C2C2;
}
footer .section__footer__main div div {
  position: absolute;
  width: 280px;
  height: 0;
  left: 998px;
  top: 254px;
  border: 1px solid #FFFFFF;
}
footer .section__footer__main div a {
  position: absolute;
  width: 28px;
  height: 15px;
  left: 1250px;
  top: 220px;
  font-size: 30px;
}
footer .section__footer__main div img:nth-child(5) {
  position: absolute;
  width: 90px;
  height: 30px;
  left: 1000px;
  top: 271px;
}
footer .section__footer__main div img:nth-child(6) {
  position: absolute;
  width: 115px;
  height: 55px;
  left: 1095px;
  top: 258px;
}